<h1>Create A User</h1>

<form method ="POST" action="new_user/create">

<div>
	<input type="text" name="username"> Username
</div>
<div>
	<input type="text" name ="email">Email
</div>

<div>
	<input type="text" name="password">Password
</div>

<div>
	<input type="submit">
</div>

</form>