<form method="POST" action="/posts/create">
<div>
	<label for="title">Post Title</label>
		<input type="text" name="title">
			</div>
	<div>
		<label for="content">Post Content</label>
			<input type="text" name="content" maxlength="150" class="post">
				</div>

	<input type="submit" value="Post It!">
	</form>